.required::after {
    content: " *";
    color: #f4516c;
}

.is-invalid .select2-selection {
    border-color: #e74a3b !important;
}

.fileinput .thumbnail,
.fileinput .thumbnail img {
    max-width: 12rem;
    max-height: 12rem;
}

.card-custom-image {
    border-radius: 0;
    max-height: 400px;
}

.fixed-image-size {
    max-width: 200px;
    max-height: 200px;
}

.custom-navbar-brand {
    width: 15rem;
}

a.d-sm-inline-block.btn.btn-sm.shadow-sm {
    margin-right: 0.5em;
}

.image-container .delete-settings-image, 
.image-container .delete-image {
    position: absolute;
    top: 10px;
    right: 10px;
}

p span[dir=ltr] {
    text-align: left !important;
}

.custom-badge {
    font-size: 90% !important;
}


.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    background: rgba(0,0,0,.95)!important;
}
.swal2-popup.swal2-toast.swal2-show {
    background-color: #28A745;
}

h2#swal2-title{
color:#fff
}


.modal-lg, .modal-xl {
    max-width: 944px !important;
}